{% macro star_rating(rating) %}
    <div class="rating">
        {% for i in 1..5 %}
            {% if i <= rating %}
                <span>⭐</span>
            {% else %}
                <span>☆</span>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}