.idea
.vscode
.DS_Store

/app/symfony/.env.local
/app/symfony/.env.local.php
/app/symfony/.env.*.local
/app/symfony/config/secrets/prod/prod.decrypt.private.php
/app/symfony/public/uploads/
/app/symfony/var/
/app/symfony/vendor/
/app/symfony/node_modules/

/docker/etc/mysql/data/
/docker/etc/apache/ssl/server.crt
/docker/etc/apache/ssl/server.key

